<div class="row center-align">
    <h1>Order your burger now!</h1>
    <img src="https://images-na.ssl-images-amazon.com/images/I/61hE-TVjlDL._AC_SX425_.jpg" alt="picture of burger"
        width="200" />
</div>

<div class="row center-align">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">local_dining</i>
                <textarea id="burger" class="materialize-textarea"></textarea>
                <label for="burger">Burger Name</label>
            </div>
            <a class="waves-effect waves-orange btn orange darken-4" id="submitBtn"><i
                    class="material-icons left">check_circle</i>Submit</a>
        </div>
    </form>
</div>

<div class="row center-align">
    <div class="col s12 m6">
        <div class="row center-align">
            <h4>All Burgers</h4>
        </div>
        <div class="row">
            <ul id="orderlist">
                {{#each burgers}}
                {{#unless devoured}}
                <li data-id="{{this.id}}">
                    {{this.id}}. {{this.burger_name}}

                    <button class="waves-effect waves-orange btn-small orange darken-4 devourBtn"
                        data-burgerid="{{this.id}}" data-devoured="{{this.devoured}}">
                        Devour it!
                    </button>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>

    </div>

    <div class="col s12 m6">
        <div class="row center-align">
            <h4>Devoured Burgers</h4>
        </div>
        <div class="row">
            <ul id="devouredlist">
                {{#each burgers}}
                {{#if devoured}}
                <li data-id="{{this.id}}">
                    {{this.id}}. {{this.burger_name}}
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>